# Gradle
.gradle
build/

captures

/local.properties

# IntelliJ .idea folder
.idea/workspace.xml
.idea/misc.xml
.idea/libraries
.idea/caches
.idea/navEditor.xml
.idea/tasks.xml
.idea/modules.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/deploymentTargetDropDown.xml
gradle.xml
*.iml

# General
.DS_Store
.externalNativeBuild

# Do not commit firebase config
google-services.json

# Release
keystore.properties
upload.keystore